<!--
  Generated template for the MealDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{searchDetail.foodname}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img src="{{searchDetail.host.picture}}">
      </ion-avatar>
          <h2>{{searchDetail.host.nickname}}</h2>
          <p></p>         
    </ion-item>

    <img src="{{searchDetail.picture}}">
    <ion-fab right top>
      <button ion-fab (click)="showAlert(searchDetail.location)">
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab>

    <ion-item>
      <ion-icon name="navigate" item-left large></ion-icon>
      <h2>Veranstaltungsort</h2>
      <p>{{searchDetail.location}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="time" item-left large></ion-icon>
      <h2>Zeitpunkt</h2>
      <p>{{searchDetail.time*1000 | date}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="people" item-left large></ion-icon>
      <h2>Freie Plätze</h2>
      <p>{{searchDetail.registered_persons.length + ' / ' + searchDetail.persons_max + ' Plätze sind noch frei'}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="cash" item-left large></ion-icon>
      <h2>Kosten</h2>
      <p>{{searchDetail.price}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="pricetags" item-left large ></ion-icon>
      <h2>Tags</h2>
      <p>{{searchDetail.tags}}</p>
    </ion-item>

    <ion-item>
      <span item-left>18 min</span>
      <span item-left>(2.6 mi)</span>
      <button ion-button icon-left clear item-right (click)="showAlert(searchDetail.location)">
        <ion-icon name="navigate"></ion-icon>
        Start
      </button>
    </ion-item>
  </ion-card>
</ion-content>
