.imgWrapper{
    margin-top:5%;
    text-align:center;
    display:block;
    .picture{
        width: 200px;
        height: 200px;
        display: inline-block;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        border:0.25rem solid #387EF5;
    }
    #userID{
        color:LightGray;
        tab-size: 10px;       
    }
}

.offerAvatar{
    position: relative;
    float:left;
    img{
        width: 30px;
        height: 30px;
        display: inline-block;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        border:0.25rem solid #387EF5;
    }
}

#offerFood {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 15%;
}