<ion-header>
  <ion-navbar>
    <ion-title>Hallo {{currentUser.firstname}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <div class="imgWrapper">
      <img class="picture" src="{{currentUser.picture}}" /> 
      <p id="userID">{{'#' + currentUser.id + ' ' + currentUser.nickname}}</p>
    </div>
  </ion-item>

    <ion-card>
      <ion-item text-center>
        <h2>Dein Guthaben beträgt:</h2>
        <p>{{currentUser.credit + '€'}}</p>
      </ion-item>
    </ion-card>

  <ion-item>
    <p>{{'(' + this.offeredMeals.length + ') '}} Angebotene Essen </p>
    <ion-card *ngFor="let offered of offeredMeals" (press)="onselect(offered)">

      <ion-item>
        <ion-avatar item-left>
          <img src="{{offered.host.picture}}">
        </ion-avatar>
        <h2>{{offered.foodname}}</h2>
        <p>{{offered.location}}</p>
      </ion-item>

      <ion-item>
        <span item-left>{{offered.time*1000 | date}}</span>
      </ion-item>
      <ion-item >
        <div class="offerAvatar" item-left *ngFor="let userAvatar of offered.registered_persons">
          <img src="{{userAvatar.picture}}">
        </div>
      </ion-item>
    </ion-card>
  </ion-item>

  <ion-item>
    <p>{{'(' + this.bookedMeals.length + ') '}}Anstehende Essen</p>  
    <ion-card *ngFor="let booked of bookedMeals" (press)="onselect(booked)">
      <ion-item>
        <ion-avatar item-left>
          <img src="{{booked.host.picture}}">
        </ion-avatar>
        <h2>{{booked.foodname}}</h2>
        <p>{{booked.location}}</p>
      </ion-item>
      <ion-item>
        <span item-left>{{booked.price + "€"}}</span>
        <span item-left>18 min</span>
        <span item-left>(2.6 mi)</span>
        <button ion-button icon-left clear item-right (click)="startNavigation(booked.location)">
          <ion-icon name="navigate"></ion-icon>
           Start
        </button>
      </ion-item>
    </ion-card>
  </ion-item>

  <ion-fab right bottom #fab>
    <button ion-fab color="primary"><ion-icon name="add" clean></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="danger" (click)="createOffer(fab)"><ion-icon name="pizza" clean ></ion-icon></button>
      <button ion-fab color="danger" (click)="openAlert(fab)"><ion-icon name="beer" clean ></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>