<ion-header>
  <ion-navbar>
    <ion-title>
      Erstellen
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="createOffer()">
      <ion-item>
            <ion-label> Time </ion-label>
            <ion-input type="text" [(ngModel)]="meal.picture" name="foodname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Name des Gerichts </ion-label>
            <ion-input type="text" [(ngModel)]="meal.foodname" name="foodname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> location </ion-label>
            <ion-input type="text" [(ngModel)]="meal.location" name="foodname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Time </ion-label>
            <ion-input type="text" [(ngModel)]="meal.time" name="foodname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Personenanzahl </ion-label>
            <ion-input type="text" [(ngModel)]="meal.persons_max" name="foodname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label> Preis pro Mahlzeit </ion-label>
            <ion-input type="text" [(ngModel)]="meal.price" name="foodname"></ion-input>
        </ion-item>
        <button ion-button type="submit" block> Erstelle Essen</button>
    </form>
</ion-content>
    
