page-contact {

}

.information {
    margin-top: 6%;
    width: 70%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
    border: 1px solid grey;
    border-radius: 8px;
    text-align: center;
}

.simpleButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

#tagButton {
    display: block;
    width: 70%;
    height: 10%;
    margin-bottom: 6%;
    margin-left: auto;
    margin-right: auto;
}

#choosePlace {
    width: 70%;
    height: 10%;
    margin-bottom: 6%;
}

#amountPeople {
    border: 1px solid grey;
    border-radius: 8px;
    width: 20%;
    display: inline;
    text-align: center;
    margin-left: 4%;
    
}

#person {
    display: inline;
    margin-left: 15%;
}

#ingredients {
    display: inline;
    border: 1px solid grey;
    width: 30%;
    margin-bottom: 6%;
}

#placeholder {
    margin-left: 15%;
    display: inline;
}

#uhrzeit {
    display: inline;
    margin-left: 15%;
    margin-bottom: 6%;
}

#time {
    display: inline;
    border: 1px solid grey;
    width: 20%;
    margin-bottom: 6%;
    margin-left: 5%;
}
