.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    height: 40%;
  }

  img{
    filter:contrast(40%);
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff; 
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}

#foodName {
    display: inline-block;
    margin-left: 25%;
    font-weight: 700;
}

.info {
    display: block;
}

.tags {
    display: inline-block
}

.tagInhalt {
    display: inline-block;
    font-weight: 700;
    
}

