<ion-header>
  <ion-navbar>
    <ion-title>
      Suche
    </ion-title>  
  </ion-navbar> 
</ion-header>
<ion-content class="card-background-page">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> <!-- TODO: Seachbar impementieren -->
  <ion-card *ngFor="let meal of meals" (click)="onselect(meal)" (press)="doBook(meal)">
    <img src="{{meal.picture}}"/>
    <div class="card-title">{{meal.foodname}}</div>
    <div class="card-subtitle">{{meal.location + ' - '}}{{meal.persons_max - meal.registered_persons.length + ' freie Plätze'}}{{' - ' + meal.price + '€'}}</div>
  </ion-card>
</ion-content>